{# _card.twig #}
<div class="card">
    <div class="card-header">
        <p>{{ type }}</p>
    </div>
    <div>
        <img src="{{ imagePath }}" alt="no-image"/>
    </div>
    <div class="card-content">
        <h3>{{ title }}</h3>
        <h4>{{ author }}</h4>
        <p> {{ description }}</p>
        <a href="{{ link }}">See more</a>
    </div>
</div>